@model IEnumerable<GeekBooks.Models.CreditCard>
@using GeekBooks.DataAccessLayer
@using GeekBooks.Models

<div class="container">

    @{
        MyDbContext db = new MyDbContext();
        List<CreditCard> creditCards = db.CreditCards.Include("UserAccount").ToList();
        string UID = (string)Session["UserId"];
        int id = Int32.Parse(UID);
    }

    <p>
        @Html.ActionLink("Add New Credit Card", "Create", "CreditCard", new { UID = id }, null)
    </p>
    <table class="table">
        <tr>            
            <th>
                @Html.DisplayNameFor(model => model.CardName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardNumber)
            </th>
            <th></th>
        </tr>        
        
        @foreach (var item in creditCards)
        {           
            if (item.UID.ToString().Equals(UID))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CardName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CardNumber)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "CreditCard", new { id = item.CID }, null) |
                        @Html.ActionLink("Delete", "Delete", "CreditCard", new { id = item.CID }, null)
                    </td>
                </tr>
            }
        }

    </table>
</div>