@model GeekBooks.Models.Avatar

@{
    ViewBag.Title = "Edit";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <div class="container">
            <h2>Change</h2>
        <h4>Avatar</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.AVATARID)
        @Html.HiddenFor(model => model.ImageUrl, new { id = "image" })

        <div class="form-group" style="display: none;">
            @Html.LabelFor(model => model.UID, "UID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UID, "", new { @class = "text-danger" })
            </div>
        </div>
        <table class="table">
            <tr>
                <th><input type="image" src="@Url.Content("~/Content/Images/avatar01.png") " onclick="myfunction('~/Content/Images/avatar01.png')" /></th>
                <th><input type="image" src="@Url.Content("~/Content/Images/avatar02.png") " onclick="myfunction('~/Content/Images/avatar02.png')" /></th>
                <th><input type="image" src="@Url.Content("~/Content/Images/avatar03.png") " onclick="myfunction('~/Content/Images/avatar03.png')" /></th>
                <th><input type="image" src="@Url.Content("~/Content/Images/avatar04.png") " onclick="myfunction('~/Content/Images/avatar04.png')" /></th>
                <th><input type="image" src="@Url.Content("~/Content/Images/avatar05.png") " onclick="myfunction('~/Content/Images/avatar05.png')" /></th>          
            </tr>
            <tr>
                <th><input type="image" src="@Url.Content("~/Content/Images/avatar06.png") " onclick="myfunction('~/Content/Images/avatar06.png')" /></th>
                <th><input type="image" src="@Url.Content("~/Content/Images/avatar07.png") " onclick="myfunction('~/Content/Images/avatar07.png')" /></th>
                <th><input type="image" src="@Url.Content("~/Content/Images/avatar08.png") " onclick="myfunction('~/Content/Images/avatar08.png')" /></th>
                <th><input type="image" src="@Url.Content("~/Content/Images/avatar09.png") " onclick="myfunction('~/Content/Images/avatar09.png')" /></th>
                <th><input type="image" src="@Url.Content("~/Content/Images/avatar10.png") " onclick="myfunction('~/Content/Images/avatar10.png')" /></th>
            </tr>
            <tr>
                <th><input type="image" src="@Url.Content("~/Content/Images/avatar11.png") " onclick="myfunction('~/Content/Images/avatar11.png')" /></th>
                <th><input type="image" src="@Url.Content("~/Content/Images/avatar12.png") " onclick="myfunction('~/Content/Images/avatar12.png')" /></th>
                <th><input type="image" src="@Url.Content("~/Content/Images/avatar13.png") " onclick="myfunction('~/Content/Images/avatar13.png')" /></th>
                <th><input type="image" src="@Url.Content("~/Content/Images/avatar14.png") " onclick="myfunction('~/Content/Images/avatar14.png')" /></th>
                <th><input type="image" src="@Url.Content("~/Content/Images/avatar15.png") " onclick="myfunction('~/Content/Images/avatar15.png')" /></th>
            </tr>
        </table>

            <script>
                function myfunction(val) {
                    document.getElementById('image').value = val;                    
                }
            </script>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" /> |                    
                        @Html.ActionLink("Back to Profile", "Profile", "Account", null, null)                    
                </div>
            </div>
        </div>
</div>
}
