@model IEnumerable<GeekBooks.Models.FilterViewModel>
@using GeekBooks.Helpers
@using GeekBooks.Models

<link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/css/bootstrap-select.min.css">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/js/bootstrap-select.min.js"></script>

<style>
    div.btn-group.bootstrap-select.col-md-12 {
        padding: 0;
        border-radius:0;
    }

    .btn {
        border-radius: 0;
        background-color: #D2D7D3;
        border-color: #D2D7D3;
        color: black;
    }

    .btn:hover {
        
        background-color: #aea79f;
        border-color: #aea79f;
        
    }

    a.filter{
        display:block;
        padding: 10px 30px;
        text-decoration:none;
        color:black;
    }

    a.filter:hover{
        background-color:#e95420;
        color:white;
    }

    a.appfilter {
        
        padding: 10px 0px;
        text-decoration: none;
        color: black;
        background-color: #D2D7D3;
    }

        a.appfilter:hover {
            background-color: #e95420;
            color: white;
        }

    .tag {
        background-color: #D2D7D3;
        margin-bottom: 10px;
    }

    .tag:hover {
        background-color: #aea79f;
        color: white;
    }

    .break {
        margin-top: 20px;
        text-align: center;
        color: #ECF0F1;
    }

    .csbutton.inactive {
        background-color: #BDC3C7;
        border: 2px solid #BDC3C7;
    }

        .csbutton.inactive:hover {
            background-color: #BDC3C7;
            color: white;            
        }
    
</style>

<div class="col-md-12" style="margin-top:40px">
    <div class="col-md-4">
        <div class="col-md-3"></div>
        <div class="col-md-7" style="margin:auto; padding:0;">
            <div class="col-md-12">
                <h5><b>Applied Filters</b></h5>
            </div>
            @{ 
                var filters = Model.FirstOrDefault();
                if(filters.Queries.Count == 0)
                {                    
                    <div class="col-md-12 break">
                        <p>______________________</p>
                    </div>
                }
            }
        
            @foreach (var item in filters.Queries)
            {
                List<Query> filter = filters.Queries.ToList();
                String fname = item.query;
                filter.Remove(item);
                String newQuery = "";
                int count = 1;
                foreach (var query in filter)
                {
                    if (count < filter.Count)
                    {
                        newQuery = newQuery + query.query + query.type + ",";
                    }
                    else
                    {
                        newQuery = newQuery + query.query + query.type;
                    }
                    count++;
                }
                <div class=" col-md-12 tag" style="padding: 0">
                    <a class ="appfilter" href='@Url.Action("Filter", "Store", new { queries = newQuery })'>
                        <div class="col-md-10">
                            <h5>@fname</h5>
                        </div>
                        <div class="col-md-2">
                            <h5>X</h5>
                        </div>
                    </a>

                    @*<div class="col-md-10" style="padding: 0 0 0 10px; margin-bottom: 10px; background-color:#D2D7D3">
                        <h5>@Html.ActionLink(fname, "Filter", "Store", new { queries = newQuery }, new { @class = "appfilter" })</h5>
                    </div>
                    <div class="col-md-2" style="padding: 0 10px 0 0; margin-bottom: 10px; background-color:#D2D7D3">
                        <h5>@Html.ActionLink("X", "Filter", "Store", new { queries = newQuery}, new { @class = "appfilter"})</h5>
                    </div>*@
                </div>
            }
            <div class="col-md-12" style="margin:0; padding:0">
                <h5 style="margin: 20px 0 10px 10px"><b>Sort results by:</b></h5>
                
                <form method="post">                    
                    <select id="sort" class="selectpicker col-md-12" style="width:100%; padding:0; margin:0" name="sort" onchange="this.form.submit();" >
                        <option id ="title" value="title">Title</option>
                        <option id ="author" value="author">Author</option>
                        <option id ="price" value="price">Price</option>
                        <option id ="rating" value="rating">Rating</option>
                        <option id ="release" value="release">Release date</option>
                    </select>                    
                </form>
            </div>

            <div class="col-md-12">
                <h5 style="margin-top:40px"><b>Choose Filters</b></h5>
            </div>
            @{
                <div class="col-md-12" style="margin:0; padding:0; background-color:#D2D7D3">
                    <h5 style="padding-left:20px; margin-top: 10px; margin-bottom: 10px"><b>Genre</b></h5>
                </div>
                HashSet<String> categories = new HashSet<string>();
                foreach (var item in Model)
                {
                    foreach (var genre in item.Genre)
                    {
                        bool found = false;
                        foreach (var query in item.Queries)
                        {
                            if (query.query == genre.GenreTitle)
                            {
                                found = true;
                            }
                        }

                        if (!found)
                        {
                            categories.Add(genre.GenreTitle);
                        }
                    }
                }
                if (categories.Count == 0)
                {
                    <div class="col-md-12 break">
                        <p>______________________</p>
                    </div>
                }
                if (categories.Count <= 5)
                {
                    foreach (var item in categories)
                    {
                        String newQuery = "";
                        foreach (var query in filters.Queries)
                        {
                            newQuery = newQuery + query.query + query.type + ",";
                        }
                        newQuery += item + "1";
                        <div class="col-md-12" style="padding:0">
                            <h5 style="margin:0; padding:0"><i>@Html.ActionLink(@item, "Filter", "Store", new { queries = newQuery }, new { @class = "filter" })</i></h5>
                        </div>
                    }
                }
                else
                {
                    <div id="complete" class="col-md-12" style="margin:0; padding:0; display:none">
                        @foreach (var item in categories)
                        {
                        String newQuery = "";
                        foreach (var query in filters.Queries)
                        {
                        newQuery = newQuery + query.query + query.type + ",";
                        }
                        newQuery += item + "1";
                        <div class="col-md-12" style="padding:0">
                            <h5 style="margin:0; padding:0"><i>@Html.ActionLink(@item, "Filter", "Store", new { queries = newQuery }, new { @class = "filter" })</i></h5>
                        </div>
                        }
                        <div class="col-md-12" style="padding-left:30px">
                            <a href="#" id="less">less</a>
                        </div>
                    </div>
                    <div id="partial" class="col-md-12" style="margin:0; padding:0; display:contents">
                        @{
                            int inc = 0;
                            foreach (var item in categories)
                            {                                
                                String newQuery = "";
                                foreach (var query in filters.Queries)
                                {
                                    newQuery = newQuery + query.query + query.type + ",";
                                }
                                newQuery += item + "1";
                                <div class="col-md-12" style="padding:0">
                                    <h5 style="margin:0; padding:0"><i>@Html.ActionLink(@item, "Filter", "Store", new { queries = newQuery }, new { @class = "filter" })</i></h5>
                                </div>
                                inc++;
                                if(inc == 5)
                                {
                                    break;
                                }
                            }
                        }
                        <div class="col-md-12" style="padding-left: 30px">
                            <a href="#" id="more" >more</a>
                        </div>
                    </div>
                }
                
            }
            <div class="col-md-12" style="margin-top:20px; padding:0px; background-color:#D2D7D3">
                <h5 style="padding-left:20px; margin-top: 10px; margin-bottom: 10px"><b>Author</b></h5>
            </div>        
            @{
                HashSet<String> categoriesA = new HashSet<string>();
                foreach (var item in Model)
                {
                    bool found = false;
                    foreach (var query in item.Queries)
                    {
                        if (query.query == item.Author.AuthorName)
                        {
                            found = true;
                        }
                    }

                    if (!found)
                    {
                        categoriesA.Add(item.Author.AuthorName);
                    }

                }

                if (categoriesA.Count == 0)
                {
                    <div class="col-md-12 break">
                        <p>______________________</p>
                    </div>
                }
                if (categoriesA.Count <= 5)
                {
                    foreach (var item in categoriesA)
                    {
                        String newQuery = "";
                        foreach (var query in filters.Queries)
                        {
                            newQuery = newQuery + query.query + query.type + ",";
                        }
                        newQuery += item + "0";
                        <div class="col-md-12" style="padding:0">
                            <h5 style="margin:0; padding:0"><i>@Html.ActionLink(@item, "Filter", "Store", new { queries = newQuery }, new { @class = "filter" })</i></h5>
                        </div>
                    }
                }
                else
                {
                    <div id="completeA" class="col-md-12" style="margin:0; padding:0; display:none">
                        @foreach (var item in categoriesA)
                        {
                            String newQuery = "";
                            foreach (var query in filters.Queries)
                            {
                                newQuery = newQuery + query.query + query.type + ",";
                            }
                            newQuery += item + "0";
                            <div class="col-md-12" style="padding:0">
                                <h5 style="margin:0; padding:0"><i>@Html.ActionLink(@item, "Filter", "Store", new { queries = newQuery }, new { @class = "filter" })</i></h5>
                            </div>
                        }
                        <div class="col-md-12" style="padding-left:30px">
                            <a href="#" id="lessA">less</a>
                        </div>
                    </div>
                    <div id="partialA" class="col-md-12" style="margin:0; padding:0; display:contents">
                        @{
                            int inc = 0;
                            foreach (var item in categoriesA)
                            {
                                String newQuery = "";
                                foreach (var query in filters.Queries)
                                {
                                    newQuery = newQuery + query.query + query.type + ",";
                                }
                                newQuery += item + "0";
                                <div class="col-md-12" style="padding:0">
                                    <h5 style="margin:0; padding:0"><i>@Html.ActionLink(@item, "Filter", "Store", new { queries = newQuery }, new { @class = "filter" })</i></h5>
                                </div>
                                inc++;
                                if (inc == 5)
                                {
                                    break;
                                }
                            }
                        }
                        <div class="col-md-12" style="padding-left: 30px">
                            <a href="#" id="moreA">more</a>
                        </div>
                    </div>
                            }
            }

        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="col-md-7">
        <h2>@ViewBag.Message</h2>
        <div align="right">            
            <table class="table">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.ImageActionLink(" ", "ProductDetails", "Store", new { id = item.BookID }, null, item.CoverUrl)
                        </td>
                        <td>
                            <h3>@item.BookName</h3>
                            <h4>by @Html.ActionLink(item.Author.AuthorName, "Search", "Store", new { query = item.Author.AuthorName, type = 1 }, null)</h4>
                            <p>@item.Synopsis</p>
                            <h4>Price: $@item.Price</h4>
                            <div style="margin-top: 3px;">
                                @for (var i = 1; i <= 5; i++)
                                {
                                    if (i <= item.AvgRating)
                                    {
                                        <i style="color:darkorange" class="fa fa-star fa-2x"></i>
                                        if ((item.AvgRating - i) > 0 && (item.AvgRating - i) < 1)
                                        {
                                            <i style="color:darkorange" class="fa fa-star-half-full fa-2x"></i>
                                        }
                                    }

                                    if ((i > Math.Ceiling(item.AvgRating)) && (i <= 5))
                                    {
                                        <i style="color:darkorange" class="fa fa-star-o fa-2x"></i>
                                    }
                                }
                            </div>
                            @if (item.Stock > 0)
                            {                                
                                @Html.ActionLink("Add to Cart", "AddBookToCart", "Store", new { bookID = item.BookID }, new { @class = "csbutton" })
                            }
                            else
                            {
                                <button type="button" class="csbutton inactive" disabled>Out of Stock!</button>
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>

</div>
<script>
    @{
        var fvm = Model.FirstOrDefault();
        String sort = fvm.sortName;
    }

    var id = '@sort';
    document.getElementById(id).selected = 'selected';

</script>

<script>
    $('#more').click(function (e) {
        $('#complete').css({
            'display': 'unset'
        });
        $('#partial').css({
            'display': 'none'
        });
        e.preventDefault();
    });

    $('#less').click(function (e) {
        $('#complete').css({
            'display': 'none'
        });
        $('#partial').css({
            'display': 'unset'
        });
        e.preventDefault();
    });

    $('#moreA').click(function (e) {
        $('#completeA').css({
            'display': 'unset'
        });
        $('#partialA').css({
            'display': 'none'
        });
        e.preventDefault();
    });

    $('#lessA').click(function (e) {
        $('#completeA').css({
            'display': 'none'
        });
        $('#partialA').css({
            'display': 'unset'
        });
        e.preventDefault();
    });
</script>
