@model GeekBooks.Models.Book
@using GeekBooks.Models

@{
    ViewBag.Title = "Product Details";
}

@section Styles {

    <link href="@Url.Content("~/Content/register.css")" rel="stylesheet" type="text/css" />
}

    <div class="container">
        <fieldset>
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @if (Model.CoverUrl == null)
                    {
                        <i style="color: #FB8C00" class="fa fa-book md-96 orange"></i>
                    }
                    else
                    {
                        <img src="/@Model.CoverUrl" />
                    }
                </div>
            </div>
        </fieldset>
        

        <table class="table">
            <tr>
                <th>Title</th>
                <th>@Html.DisplayName(Model.BookName)</th>
            </tr>
            <tr>
                <th>Author:</th>
                <th>@Html.DisplayName(Model.Author.AuthorName)</th>
            </tr>
            <tr>
                <th>Genre:</th>
                <th>@Html.DisplayName(Model.Genre)</th>
            </tr>
            <tr>
                <th>Publisher:</th>
                <th>@Html.DisplayName(Model.Publisher)</th>
            </tr>
            <tr>
                <th>Price:</th>
                <th>@Html.DisplayFor(model => model.Price)</th>
            </tr>
            <tr>
                <th>Synopsis:</th>
                <th>@Html.DisplayName(Model.Synopsis)</th>
            </tr>
            <tr>
                <th>About the Author:</th>
                <th>@Html.DisplayName(Model.Author.Blurb)</th>
            </tr>
        </table>
    
    @{
        if (Model.Stock <= 5)
        {
            <h4  class="bg-danger">Only @Html.DisplayName(Model.Stock.ToString()) left in stock!</h4>
        };
     }


    <p>
     @Html.ActionLink("Back to List", "Index", "Store")
    </p>

</div>