@model GeekBooks.Models.Book
@using GeekBooks.Models

@{
    ViewBag.Title = "Product Details";
}

@section Styles {
    <link href="@Url.Content("~/Content/register.css")" rel="stylesheet" type="text/css" />
}

<div class="container" style="padding-bottom:100px; padding-top:50px">
    <div class="col-md-8">
        <div class="col-sm-4"  style="text-align:center">
            <div>
                @if (Model.CoverUrl == null)
                {
                    <i style="color: #FB8C00" class="fa fa-book md-96 orange"></i>
                }
                else
                {
                    <img src="@Url.Content(Model.CoverUrl)" alt="@Url.Content("~/Content/Images/avatar02.png")" />
                }
            </div>            
        
            <div style="margin: 15px;">
                @for (var i = 1; i <= 5; i++)
                {
                    if (i <= ViewBag.AvgRating)
                    {
                        <i style="color:darkorange" class="fa fa-star fa-2x"></i>
                        if ((ViewBag.AvgRating - i) > 0 && (ViewBag.AvgRating - i) < 1)
                        {
                            <i style="color:darkorange" class="fa fa-star-half-full fa-2x"></i>
                        }
                    }

                    if ((i > Math.Ceiling(ViewBag.AvgRating)) && (i <= 5))
                    {
                        <i style="color:darkorange" class="fa fa-star-o fa-2x"></i>
                    }
                }
            </div>
            <h5>Average Rating</h5>            
        </div>
        <div class="col-sm-8" >
            <h1>@Model.BookName</h1>
            <h4>by @Html.ActionLink(Model.Author.AuthorName, "Search", "Store", new { query = Model.Author.AuthorName, type = 1 }, null)</h4>
            <p>@Model.Synopsis</p>
            <hr />        
            <input class="csbutton" type="submit" value="Add to Cart" /><input class="csbutton" type="submit" value="See Reviews" style="margin-left:10px" />
            <hr />
            <table style="width: 100%">
                <tr>
                    <td>Title: </td>
                    <td>@Model.BookName</td>
                </tr>
                <tr>
                    <td>Genre: </td>
                    <td>@Html.ActionLink(Model.Genre, "Search", "Store", new { query = Model.Genre, type = 0 }, null)</td>
                </tr>
                <tr>
                    <td>Publisher: </td>
                    <td>@Model.Publisher</td>
                </tr>
            </table>        
        </div>
        <div class="col-sm-12">
            <hr />
            <h3>Leave a Review...</h3>
            @Html.Action("Create", "BookRating", new { id = Model.BookID})    
            <hr />

            <h3>Community Reviews &nbsp;&nbsp;&nbsp;&nbsp;<span class="text-muted" style="font-size:smaller"><i>@Model.BookRatings.Count() Review</i>@if (Model.BookRatings.Count() != 1) {<text><i>s</i></text>}</span></h3>
            @Html.Partial("_BookRatingIndex", Model, null) 
        </div>
    </div>
    <div class="col-sm-4" >
        <h5><b>Books like this...</b></h5>
        <hr />
        @Html.Action("Carousel", new { query = Model.Genre , title = Model.BookName})
        <hr />
        <h5><b>About @Model.Author.AuthorName</b></h5>        
        <p>@Model.Author.Blurb</p>
        <hr />
        <h5><b>More Books by this author...</b></h5>
        <hr />
        @Html.Action("MiniSearch", new { query = Model.Author.AuthorName, title = Model.BookName })
        <hr />
        
    </div>
</div>


@*<div class="container">
    @using (Html.BeginForm())
    {
        <div class="container">
            <fieldset>
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        <table>
                            <tr>
                                <td>
                                    @if (Model.CoverUrl == null)
                                    {
                                        <i style="color: #FB8C00" class="fa fa-book md-96 orange"></i>
                                    }
                                    else
                                    {
                                        <img src="@Url.Content(Model.CoverUrl)" alt="@Url.Content("~/Content/Images/avatar02.png")" />
                                    }
                                </td>
                                <td >
                                    <div style="margin: 5px;">
                                        @for (var i = 1; i <= 5; i++)
                                        {
                                            if (i <= ViewBag.AvgRating)
                                            {
                                                <i style="color:darkorange" class="fa fa-star fa-2x"></i>
                                                if ((ViewBag.AvgRating - i) > 0 && (ViewBag.AvgRating - i) < 1)
                                                {
                                                    <i style="color:darkorange" class="fa fa-star-half-full fa-2x"></i>
                                                }
                                            }

                                            if ((i > Math.Ceiling(ViewBag.AvgRating)) && (i <= 5))
                                            {
                                                <i style="color:darkorange" class="fa fa-star-o fa-2x"></i>
                                            }
                                        }
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="container">
            <table class="table">
                <tr>
                    <th>Title</th>
                    <th>@Html.DisplayName(Model.BookName)</th>
                </tr>
                <tr>
                    <th>Author:</th>
                    <th>@Html.ActionLink(Model.Author.AuthorName, "Search", "Store", new { query = Model.Author.AuthorName, type = 1 }, null)</th>
                </tr>
                <tr>
                    <th>Genre:</th>
                    <th>@Html.ActionLink(Model.Genre, "Search", "Store", new { query = Model.Genre, type = 0 }, null)</th>
                </tr>
                <tr>
                    <th>Publisher:</th>
                    <th>@Html.DisplayName(Model.Publisher)</th>
                </tr>
                <tr>
                    <th>Price:</th>
                    <th>@Html.DisplayFor(model => model.Price)</th>
                </tr>
                <tr>
                    <th>Synopsis:</th>
                    <th>@Model.Synopsis</th>
                </tr>
                <tr>
                    <th>About the Author:</th>
                    <th>@Model.Author.Blurb</th>
                </tr>
            </table>
        </div>

        if (Model.Stock <= 5 && Model.Stock > 0)
        {
            <h4 class="bg-warning">Only Model.Stock left in stock!</h4>
        }
        if (Model.Stock == 0)
        {
            <h4 class="bg-danger">Out of Stock!</h4>
        }

        <div class="container">
            <h2>Book Reviews</h2>
        </div>

        Html.RenderPartial("_BookRatingIndex", Model, null);
    }

    <p>
        @Html.ActionLink("Back to List", "Index", "Store")
    </p>

</div>*@

