@model IEnumerable<GeekBooks.Models.Product>
@using GeekBooks.Helpers

@{
    ViewBag.Title = "Search";
}

<div class="container">
    <table class="table">
        <h2>@ViewBag.Message</h2>                 
        
            @foreach (var item in Model)
            {
                
                <tr>
                    <td>
                        @Html.ImageActionLink(" ", "ProductDetails", "Store", new { id = item.ProductID }, null, item.CoverUrl)
                    </td>
                    <td>
                        <h3>@item.ProductName</h3>
                        <h4>by @Html.ActionLink(item.Author.AuthorName, "Search", "Products", new { query = item.Author.AuthorName, type = 1 }, null)</h4>
                        <p>@item.Synopsis</p>
                        <h4>Price: $@item.Price</h4>
                        @if(item.Stock > 0)
                        {
                            <h2>Still in Stock</h2>
                        }
                        else {
                            <h2>Out of Stock!</h2>
                        }

                    </td>
                </tr>
            }
        
    </table>
</div>