@model GeekBooks.Models.UserProfileViewModel
@using Microsoft.AspNet.Identity;
@using GeekBooks.Models

@{
    ViewBag.Title = "User Profile";
}

@section Styles {

    <link href="@Url.Content("~/Content/register.css")" rel="stylesheet" type="text/css" />
}

<style>
    .csbutton {
        background-color: #7f8c8d;
        border: 2px solid #7f8c8d;
        border-radius: 50px;
        color: white;
        padding: 10px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        width: 150px;
    }

    .csbutton:hover {
        background-color: white;
        color: #7f8c8d;
        border: 2px solid #7f8c8d;
    }

        .csbutton.ava {
            background-color: white;
            color: #F39C12;
            border: 2px solid #F39C12;
            text-decoration: none;
            width: unset;
        }

            .csbutton.ava:hover {
                border-color: #F39C12;
                background-color: #F39C12;
                border: 2px solid #F39C12;
                color:white;
            }

    .my-icon {
        text-shadow: 0px 0px 3px #000;
    }
    .c-icon {
        border: 2px solid #f39c12;
        padding: 20px;
        width: 72px;
        height: 72px;
        border-radius: 50%;
       

        background-color: white;
        color: #f39c12;
    }

        .c-icon:hover {
            background-color: #f39c12;
            color: white;
        }

    .c-icon2 {
        border: 2px solid #f39c12;
        padding: 22px;
        width: 72px;
        height: 72px;
        border-radius: 50%;
        background-color: white;
        color: #f39c12;
    }

    .c-icon2:hover {
        background-color: white;
        color: #f39c12;

         background-color: #f39c12;
        color: white;
    }

    .c-icon3 {
        border: 2px solid #f39c12;
        padding: 20px 16px;
        width: 72px;
        height: 72px;
        border-radius: 50%;
        background-color: white;
        color: #f39c12;
    }

        .c-icon3:hover {
            
            background-color: #f39c12;
            color: white;
        }

    .section {
        border: 1px solid #FDE3A7;
        border-radius: 5px;
        margin: 0 0 30px 0;
        padding: 0;
        vertical-align:middle;
    }

    .section-special {
        height: 391px;
        margin-left: 20px;
        padding: 0 0 0 5px;
    }
    .s-title{
        padding-left: 30px;
    }

    .orange h1 {
        color: darkorange;
        opacity: .5;
        font-family: Raleway !important;
    }

    #view-render-btn {
        text-decoration: underline, initial;
        color: darkorange;
        cursor: pointer;
    }

</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()   

    string imageUrl = "error";
    int AID = 0;

    if (Model.AvatarExist)
    {
        AID = Model.AID;
        imageUrl = Model.AvatarUrl;
    }


    <div class="col-md-12" style="margin:0 0 20px 0; padding:0">
        <div class="col-md-6" style="margin-left:50px; margin-top: 20px; padding:0">
            @if (!Model.AvatarExist)
            {
                <div class="col-md-4" style="margin-top:20px; padding:0; text-align:center">
                    <i style="color: #FB8C00" class="material-icons md-96 orange">account_circle</i>
                </div>
                <div class="col-md-8" style="margin:0; padding:0">
                    <h3 style="padding-bottom:10px; padding-top: 5px">Hello again, @Model.UserName!</h3>
                    <h4> @Html.ActionLink("Change your avatar", "Create", "Avatar", null, new { @class = "csbutton ava" })</h4>
                </div>
            }
            else
            {
                <div class="col-md-4" style="margin-top:20px; padding:0; text-align:center">
                    <img class="img-circle" src="@Url.Content(imageUrl)" alt="error" style="width:125px; height:125px"/>
                </div>
                <div class="col-md-8" style="margin:0; padding:0">
                    <h3 style="padding-bottom:10px; padding-top: 5px">Hello again, @Model.UserName!</h3>
                    <h4 style="padding-left:10px"> @Html.ActionLink("Change your avatar", "Edit", "Avatar", new { id = AID }, new { @class = "csbutton ava" })</h4>
                </div>
            }
        </div>
        <div class="col-md-5" style="margin:0; padding:0">
            <table width="100%" style="margin-top:50px">
                <tr>
                    <td align="center">                        
                        <a href='@Url.Action("Update", "Account", Model)'><i class="fa fa-pencil-square-o fa-2x c-icon2" aria-hidden="true"></i></a>                        
                        <h5>Update Account</h5>
                    </td>
                    <td align="center">                        
                        <a href='@Url.Action("ChangePassword", "Account")'><i class="fa fa-braille fa-2x c-icon3" aria-hidden="true"></i></a>
                        <h5>Change Password</h5>
                    </td>
                    <td align="center">
                        <a href='@Url.Action("Delete", "Account", Model)'><i class="fa fa-scissors fa-2x c-icon" aria-hidden="true"></i></a>
                        <h5>Delete Account</h5>                        
                    </td>
                </tr>
            </table>
            
        </div>        
    </div>
    

    @*Begin Adresses and credit cards*@
    <div class="col-md-12">
        <hr />
        <div class="col-md-4" style="margin:0; padding:0 0 0 20px">
            
            <div class="col-md-12 section" >
                <table width="100%">
                    <tr>
                        <td>
                            <h3 class="s-title">Addresses</h3>
                        </td>
                        <td>
                            <h5><p id="view-render-btn" onclick="addressRender()" > Details</p></h5>
                        </td>
                    </tr>
                </table>
                <hr />
                <div>
                    @{
                        bool found = false;
                    }
                    @foreach (var address in Model.AddressList)
                    {
                        if (address.IsShipping)
                        {
                            <h5 style="text-align:center"> <b>Primary Address - </b>@address.Address1 &nbsp;&nbsp;&nbsp;&nbsp; @address.City, @address.State_Province</h5>                            
                            found = true;
                            break;
                        }
                    }
                    @if (!found)
                    {
                        <h5 style="text-align:center; color:lightgrey"><b> Shipping Address not Set</b></h5>

                    }
                </div>
                <hr />
                <div>
                    <h5 style="text-align:center">@Html.ActionLink("Add New Address", "Create", "Address", User.Identity.GetUserId(), null)</h5>
                </div>
            </div>
            <div class=" col-md-12 section">
                <table width="100%">
                    <tr>
                        <td>
                            <h3 class="s-title">Credit Cards</h3>
                        </td>
                        <td>
                            <h5><p id="view-render-btn" onclick="creditRender()" > Details</p></h5>
                            
                        </td>
                    </tr>
                </table>
                <hr />
                <div>
                    @{
                        bool found2 = false;
                    }
                    @foreach (var card in Model.CreditCardList)
                    {
                        if (card.IsPreferred)
                        {
                            <h5 style="text-align:center"> <b>Primary Address - </b> @card.CardNumber</h5>
                            found2 = true;
                            break;
                        }
                    }
                    @if (!found2)
                    {
                        <h5 style="text-align:center; color:lightgrey"><b> Primary Card not Set</b></h5>

                    }
                </div>
                <hr />
                <div>
                    <h5 style="text-align:center">@Html.ActionLink("Add New Credit Card", "Create", "CreditCard", User.Identity.GetUserId(), null)</h5>
                </div>
            </div>
        </div>
        <div id="view-wrapper" class="col-md-8 section-special" style="margin:0; padding:0">
            <div class="text-center orange">
                <h1>geekBooks</h1>
            </div>

        </div>
    </div>
     
    
    @*<div class="container">

        <fieldset>
            <legend>Avatar</legend>
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @if (!Model.AvatarExist)
                    {
                        <div>
                            <i style="color: #FB8C00" class="material-icons md-96 orange">account_circle</i>
                            <h4> @Html.ActionLink("Change your avatar", "Create", "Avatar", null, null)</h4>
                        </div>
                    }
                    else
                    {
                        <img class="img-circle" src="@Url.Content(imageUrl)" alt="error" />
                        <h4> @Html.ActionLink("Change your avatar", "Edit", "Avatar", new { id = AID }, null)</h4>
                    }
                </div>
            </div>
        </fieldset>
    </div>

    <div class="container">
        <h2>Profile Info</h2>
    </div>

    Html.RenderPartial("_AccountInfo");

    <div class="container">
           Password: 
                [
                @Html.ActionLink("Change your password", "ChangePassword")
                ]
    </div>
    
    <div class="container">
        <div class="form-group">
            @Html.ActionLink("Update User Info", "Update", Model) | 
            @Html.ActionLink("Delete Profile", "Delete", Model )
        </div>
    </div>

    <div class="container">
        <h2>Addresses</h2>
    </div>
    Html.RenderPartial("_AddressIndex");

    <div class="container">
        <h2>Credit Cards</h2>
    </div>
    Html.RenderPartial("_CreditCardIndex");*@  

        }


<script>


    function addressRender() {
        $.ajax({
            url: "/Address", 
                success: function (data) {
                    $("#view-wrapper").html(data);
                }
            })

    }

    function creditRender() {
            $.ajax({
                url: "/CreditCard",
                success: function (data) {
                    $("#view-wrapper").html(data);
                }
            })

        }


</script>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>